<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyemeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Trips by Wheels. Rent a car</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>

    <!-- NAVIGATION BAR -->
    <header th:fragment="header">

        <nav class="navbar navbar-expand-lg navbar-darl bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <strong>TripsByWheels</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/index}" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-disabled="page" href="#">Your reservation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>

    <!-- CONTENT -->
    <div class="container"></div>

    <!-- FOOTER -->
    <footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">

        <div class="container">
            <p>Copyright Trips by Wheels &copy; - 2021</p>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </footer>

</body>
</html>